.Button{
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    padding: .8rem 3rem;
    background: red;
    border-radius: 2rem;
}
.Button:hover{
    background: linear-gradient(90deg,rgb(230, 1, 1) 0%, rgb(222, 53, 53) 100%);
}