.Question{
    text-align: center;
    max-width: 500px;
    border-radius:2rem;
    background:#8435de;
    padding:2rem;
}

.Question h1,h2{
    margin-bottom:2rem;
} 
.Question p{
    margin-bottom: 1rem;
}



.Question button{
    border:2px solid #FFF;
}