.opction{
    background:#3c0e70;
    cursor:pointer;
    border-radius:0.5rem;
    padding:1rem;
    margin-bottom:1rem;
    opacity:0.8;
    transition:0.4s;
}
.opction:hover{
    opacity:1;
}

.opction-container .opction p{
    margin-bottom:0;
}

.correct{
    background:#0bfc03;
    font-weight:bold;
}

.opction .wrong{
    background:#3c0e70;
    opacity:0.4;
}