.Wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    
}

.Fim{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}


.Fim p{
    font-size:1.2rem;
    margin-bottom: 1rem;
    color: #464646;
}
.Fim h1 {
    font-size: 1.6rem;
    font-weight: bolder;
}
.Fim h1 > span{
    color: rgb(96, 166, 187);
    border-bottom: 2px solid rgb(196, 0, 0);
}

.Fim img{
    max-width: 68%;
}

@media (max-width:768px){
    
.Fim{
        
        width: 70%;
    }
}
@media (max-width:500px){
      
    
.Fim{
        
        width: 100%;
    }

.Fim img{
        max-width:  80%;
    }
    
}