.Questions{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.Questions_text{
    margin-bottom: 1rem;
}
.Questions_text > .circle{
    position: absolute;
    right: 7rem;
    top:2rem;
    text-align: center;
    background-color: rgb(31, 31, 36);
    width: 10%;
    height: 10%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: circle();
}

.circle > p{
    text-align: center;
    font-size: 1.2rem;
}
.Opction, .correct{
    background: rgb(136, 17, 17);
   overflow: hidden;
    margin-bottom: 1rem;
    border-radius: .6rem;
    display: flex;
   

    width: 700px;
    opacity: 0.8;
    cursor: pointer;
    transition: .4s ease-in-out;
    align-items: center;
    text-align: center;
}

.Opction  span{
    text-align: left;
    background: #1c1c1c;
    padding: 1rem;
    font-size: 1.6rem;
    width: 8%;
    border-radius: .6rem 0 0 .6rem;  
}

.Opction p{
    width: 90%;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    font-weight: 500;
    


}

.Opction:hover{
    opacity: 1;
}


 .correct{
    background: green;
}


.wrong{
    background: red;

}

.correct:hover{
    opacity: 1;
}