*{
    margin: 0;
    padding :0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Raleway', sans-serif;
    color: #FFF;
    outline: none;
    border: none;
}

html,body{
   min-height: 100vh;
   height: 100%;
   background: #0c0c0c;
}

img{
    max-width: 100%;
}


