*{
    margin: 0;
    padding :0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Raleway', sans-serif;
    color: #FFF;
    outline: none;
    border: none;
}

html,body{
   min-height: 100vh;
   height: 100%;
   background: #0c0c0c;
}

img{
    max-width: 100%;
}


button{
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    padding: .8rem 3rem;
    background: red;
    border-radius: 2rem;
}
button:hover{
    background: linear-gradient(90deg,rgb(230, 1, 1) 0%, rgb(222, 53, 53) 100%);
}